@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-zinc-50;
}

body {
    width: 100%;
    height: 100%;
    
    display: flex;
}

html {
    width: 100%;
    height: 100%;
}